@extends("layout.app")
@section("title", "Home")
@section("content")
    @include("partials.header")
    <main class="flex justify-center h-[90vh] items-center">
        <article>
            <section>
                <h1 class="text-3xl text-gray-800">
                    Welcome to JCC express MVC
                </h1>
                <p>
                    @foreach (users as user)
                        @if (user . name == "Amadou")
                            <li>
                                {{ user . name }}
                            </li>
                        @endif
                    @endforeach
                </p>
            </section>
        </article>
    </main>
@endsection
