@import "tailwindcss";
@source "../views";

@theme {
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-poppins: "Poppins", sans-serif;

  --color-secondary: rgba(124, 153, 5, 1);
  --color-dark: #1e2136;

  --breakpoint-xs: 350px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}
.max-container {
  @apply max-w-7xl mx-auto px-5 sm:px-8 md:px-16;
}
body {
  font-family:
    BlinkMacSystemFont,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

.openModal {
  @apply block fixed w-full top-0 left-0 right-0 h-screen  z-40 md:hidden bg-[rgba(0,0,0,0.67)] transition-all  ease-out duration-1000;
}

.modal-container > nav {
  @apply bg-white h-full w-[97.5%];
}
